@use "../../styles/partials/global" as * ;

.mentorchat {
    padding: 16px;
    background-color: $White;

    &__heading {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        // background-color: blue;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__icons {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
       
    }

    &__icon1 {
        border: 0px ssolid black;
        padding: 1rem;
        background-color: $TertiaryGreen;
    }

    &__h1 {
        margin: 0;
    }

    &__icon2 {
        border: 0px solid black;
        padding: 1rem;
        background-color: $TertiaryGreen;
    }

    &__categories {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__category {
        border: 1px solid black;
        padding: 1rem;
        background-color: $Grey;

    }

    &__chat {
        display: flex;
        flex-direction: column;
    }

    &__item {
        box-sizing: border-box;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        &:nth-child(even){
            justify-content: flex-end;
        }
    }

    &__item2 {
        box-sizing: border-box;
        display: flex;
        align-self: flex-end;
        gap: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__avatar {
        box-sizing: border-box;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background: #E1E1E1;
    }

    // &__comment {
    //     display: flex;
    // }

    &__message {
        margin: 0;
        padding: 1rem;
        width: 185px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: -0.89px;
        background-color: $SecondaryGreen;
    }

    &__message2 {
        margin: 0;
        padding: 1rem;
        width: 185px;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 140%;
        letter-spacing: -0.89px;
        background-color: $TertiaryGreen;
    }

    &__time {
        color: #838383;
        font-family: SF Pro;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

    }

    &__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #D9D9D9;
        height: 100px;
        width: 100%;
    }

    &__cardname {
        padding-top: 10px;
    }

    &__form {
        // background-color: blueviolet;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $TertiaryGreen;
    }

    &__newmessage {
        width: 100%;
        height: 4rem;

    }

    &__input {
        padding: 1rem;
        border: none;
        background: $TertiaryGreen;
        width: 90%;

    }

    &__icon3 {
        // border: 1px solid black;
        padding: 1rem;
        background-color: $Interactivity;
    }

    &__btn {
        padding: 0;
        border: none;
    }

}