@use "../../styles/partials/global" as *;
// need fonts, consistent styling on step1 button and to bold the goal-right-now p tag
.mentorPage1Container {
  margin: auto 1.5rem;
  &__titleText {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &__introText {
    // background-color: blue;
    font-size: 1rem;
    font-weight: 500;
  }
  &__goalText {
    font-weight: 600;
  }
  &__step1Button {
    width: 62px;
    height: 38px;
    background-color: $SecondaryGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $White;
    font-weight: 600;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  }
  &__goalsContainer {
    display: flex;
    flex-direction: column;
  }
  &__goalsContainer--option {
    text-align: left;
    height: 2rem;
    margin: 0 0 0.5rem 0;
    background-color: #ececec;
    border: none;
    width: 100%;
  }
}
a {
  text-decoration: none;
}
